/** Jumbotron **/
#info {
    /*padding: 5px 10px 5px 5px;*/
    position: relative;

    top: 50px;
}
#info span{
    display: inline-block ;
    /*line-height: 40px;*/
}

#info a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}
#info a i{
    margin-right: 5px;
}
#info a:hover {
    color: #337ab7;
}


